@model Mayo_Clinic.Models.Patient

@{
    ViewData["Title"] = "Add Patient";
}

<div class="container mt-5">
    <h2>Add Patient</h2>
    <hr />

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Add" class="border p-4 rounded">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label">Birth Date</label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BloodClotImage" class="control-label">Blood Clot Image</label>
                    <input asp-for="BloodClotImage" class="form-control" />
                    <span asp-validation-for="BloodClotImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Classification" class="control-label">Classification</label>
                    <select asp-for="Classification" class="form-control" required>
                        <option value="Unknown" selected>Unknown</option>
                    </select>
                    <span asp-validation-for="Classification" class="text-danger"></span>
                </div>


                <div class="form-group mt-3 mb-0">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                    <a asp-action="ViewAll" class="btn btn-danger">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
